.login-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

input {
    display: block;
    width: 100%;
        margin-bottom: 16px;
        padding: 8px;
        font-size: 16px;}

.login-button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register-button {
    display: block;
    margin-top: 12px;
    width: 50%;
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Add more styles as needed */